/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /* Style the navigation bar */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 .navbar {
   width: 100%;
   background-color: #555;
   overflow: auto;
 }

 /* Navbar links */
 .navbar a {
   float: left;
   text-align: center;
   padding: 12px;
   color: white;
   text-decoration: none;
   font-size: 17px;
 }

 /* Navbar links on mouse-over */
 .navbar a:hover {
   background-color: #000;
 }

 /* Current/active navbar link */
 .active {
   background-color: #e8994a;
 }

 /* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}


.vertical-menu {
  width: 200px; /* Set a width if you like */
}

.vertical-menu a {
  background-color:  #555;
  color: white;
  display: block;
  padding: 12px;
  text-decoration: none; 
}

.vertical-menu a:hover {
  background-color: #000;
}

.vertical-menu a.active {
  background-color: #4CAF50; /* Add a green color to the "active/current" link */
  color: white;
}

 /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
 @media screen and (max-width: 500px) {
   .navbar a {
     float: none;
     display: block;
   }
 }
